
@media(min-width: 500px){

  .re_start{
    color: #F55F5F;
  }
  .snow{
    width: 450px;
  }


}

@media(min-width: 1024px){
  .re_start{
    color: #F55F5F;

  }
  .snow{
    width: 650px;


  }
}

@media(min-width: 3340px){

  .re_start{
    color: #FFFFFF;
  }
  .snow{
    width: 1000px;
  }


}

