
@media(max-width: 768px){

  .re_start{
    color: #F55F5F;
  }
  .snow{
    width: 450px;
  }


}

@media(min-width: 768px) and (max-width:1366){
  .re_start{
    color: #F55F5F;

  }
  .snow{
    width: 650px;


  }
}

@media(min-width: 1366px){

  .re_start{
    color: #FFFFFF;
  }
  .snow{
    width: 1080px;
    height: 550px;
  }


}

