
@media(max-width: 768px){

  .re_start{
  }
  
  .snow{
    width: 450px;
    height: 250px;
  }

  .carousel-inner{
    height: 250px;
  }

  .carousel-item{
    height: 250px;
  }

  .carousel-caption{
    height: 45%;
  }

  .carousel-caption h4{
    font-size: 18px;
  }

  .carousel-caption p{
    font-size: 14px;
  }

  .re_menu{
    visibility: hidden;
  }

  .re_fragments{
    width: 900px;

  }

}

@media(min-width: 768px) and (max-width:1366){
  .snow{
    width: 650px;
  }

}

@media(min-width: 1440px){

  .re_start{
  }

  .snow{
    width: 1080px;
    height: 550px;
  }

  .carousel-inner{
    height: 550px;
  }

  .carousel-item{
    height: 550px;
  }

  .re_menu{
    width: 210px;
  }

  .re_world{
  }

  .re_fragments{
    width: 2000px;
  }

  .re_rem{
    width: 90%;
  }

  .re_autumn{
    width: 275px;
    height: 225px;
  }

  .re_sf{
    width: 275px;
    height: 225px;
  }

  .re_sea{
    width: 275px;
    height: 225px;
  }

  .re_curry{
    width: 275px;
    height: 225px;
  }

  .re_pasta{
    width: 275px;
    height: 225px;
  }


}

