.re_start{
  font-size: 17px;
  font-family: "Courier New", Arial;
  color: #000000;
  white-space: nowrap;
}

.re_menu{
  border-right: 1px solid #000000;
  display: block;
  width: 15%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.re_menu ul{
  margin: 0;
  padding: 0;
}

.re_menu ul li{
  display: block;
  padding: 7px;
  list-style: none;
}

.re_menu ul li:hover{
  background-color: #77AAE4;
  color: #FFFFFF;
}

.re_menu ul li a{
  padding: 4px;
  color: #111111;
  text-decoration: none;
}

.re_menu ul li a:hover{
  color: #FFFFFF;
}

.re_world{
  background-color: #FFFFFF;
  display: block;
  width: 70%;
  margin-left: 17%;
  padding: 2px;
  position: relative;
}

.re_word{
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 4px;
  font-size: 14px;
  font-family: "Courier New", Arial;
  white-space: nowrap;
}

.re_word ul li{
  text-decoration: none;
}

.re_heading{
  border-bottom: 1px solid #E0E0E0;
  font-size: 20px;
  font-family: "Courier New", Arial;
  font-weight: bold;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4px;
}


.re_group{
  border-bottom: 1px solid #E0E0E0;
  font-size: 17px;
  font-family: "Courier New", Arial;
  font-weight: bold;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 4px;
}

.re_fragments{
  width: 850px;
}

.re_initialize{
  display: inline-block;
  width: 100%;
  padding: 2px;
}

.re_me{
  display: inline-block;
  background-image: url("re_me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 150px;
  height: 150px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.re_sf{
  border: 1px solid #F0F0F0;
  display: inline-block;
  background-image: url("San_Francisco.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.re_sea{
  border: 1px solid #F0F0F0;
  display: inline-block;
  background-image: url("Sea.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}

