.re_start{
  font-size: 17px;
  font-family: "Courier New", Arial;
  color: #000000;
  white-space: nowrap;
}

.re_menu{
  display: block;
  width: 25%;
  height: 100%;
  margin: 0;
  float: left;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.re_menu ul{
  border-right: 1px solid #000000;
  float: left;
}

.re_menu ul li{
  display: block;
  padding: 7px;
  list-style: none;
}

.re_menu ul li a{
  padding: 4px 7px 4px 7px;
  color: #111111;
  text-decoration: none;
}

.re_menu ul li a:hover{
  color: #FFFFFF;
  background-color: #77AAE4;
}

.re_world{
  background-color: #F0F0F0;
  display: block;
  width: 75%;
  margin: auto;
  padding: 2px;
  position: relative;
}

.re_word{
  display: inline-block;
  width: 75%;
  margin: 0;
  padding: 4px;
  font-size: 14px;
  font-family: "Courier New", Arial;
  white-space: nowrap;
}

.re_word ul li{
  text-decoration: none;
}

.re_heading{
  font-size: 17px;
  font-family: "Courier New", Arial;
  padding: 4px;
}

.re_group{
  font-size: 16px;
  font-family: "Courier New", Arial;
  padding: 4px;
}

.re_fragments{
  width: 850px;
}

.re_initialize{
  display: inline-block;
  width: 100%;
  padding: 2px;
}

.re_me{
  display: inline-block;
  background-image: url("re_me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 150px;
  height: 150px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.re_sf{
  display: inline-block;
  background-image: url("San_Francisco.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.re_sea{
  display: inline-block;
  background-image: url("Sea.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 200px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}

